* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v61_20 {
  width: 100%;
  height: 857px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_21 {
  width: 471px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 527px;
  font-family: Calistoga;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v65_153 {
  width: 269px;
  height: 65px;
  background: rgba(0,0,255,1);
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 85px;
  overflow: hidden;
}
.v65_155 {
  width: 201px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 706px;
  left: 119px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v65_157 {
  width: 100%;
  height: 398px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 246px;
  overflow: hidden;
}
.v65_158 {
  width: 221px;
  height: 213px;
  background: url("../images/v65_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 651px;
  overflow: hidden;
}
